div, p, input{
    font-family: "arial", serif;
    font-size: 20ipx;
}
.nav-item{
    float: left;
}
.nav-item active{
    display:block;
    padding: 8px;
    background-color: darkgray;
}

.settings{
    display: flex;
    align-items: center;
    color: blueviolet;
}